In [2]:
import joblib

user_df, book_df, rating_df = joblib.load('../data/mf-api.pkl')

In [3]:
user_df

,User-ID,Age,city,state,country,mf_recommend_item
0,254,24.0,minneapolis,minnesota,usa,"[0877017883, 0439425220, 0140143505, 006025665..."
1,388,35.0,nashville,tennessee,usa,"[0743454529, 0877017883, 0439425220, 034533973..."
2,503,40.0,el centro,california,usa,"[0877017883, 0439425220, 0394800168, 014014350..."
3,638,20.0,san diego,california,usa,"[0060256656, 0440174643, 0877017883, 039480016..."
4,709,14.0,roanoke,virginia,usa,"[0380813815, 0060256737, 0345339711, 006025667..."
...,...,...,...,...,...,...
2092,278026,56.0,east orange,new jersey,usa,"[0877017883, 0439425220, 0394800168, 006025665..."
2093,278137,27.0,san antonio,texas,usa,"[0439425220, 0140143505, 0060256672, 087701788..."
2094,278188,34.0,lake george,new york,usa,"[0439425220, 0877017883, 0743454529, 006025667..."
2095,278356,57.0,lakeland,tennessee,usa,"[0877017883, 0439425220, 0394800168, 014014350..."
2096,278843,28.0,pismo beach,california,usa,"[0877017883, 0439425220, 0394800168, 074345452..."

In [8]:
user_df.rename(columns={"User-ID": "user_id", "Age": "age"}, inplace=True)

In [4]:
book_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
0,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...
1,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...
2,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...
3,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...
4,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...
...,...,...,...,...,...,...
1116,0425150984,Glory in Death,J. D. Robb,2004,Berkley Publishing Group,http://images.amazon.com/images/P/0425150984.0...
1117,0425157628,Ceremony in Death (Eve Dallas Mysteries (Paper...,J. D. Robb,1997,Berkley Publishing Group,http://images.amazon.com/images/P/0425157628.0...
1118,1579546463,"The South Beach Diet: The Delicious, Doctor-De...",Arthur Agatston,2003,Rodale Books,http://images.amazon.com/images/P/1579546463.0...
1119,0439425220,Harry Potter and the Chamber of Secrets Postca...,J. K. Rowling,2002,Scholastic,http://images.amazon.com/images/P/0439425220.0...
1120,0310205719,The Purpose-Driven Life: What on Earth Am I He...,Rick Warren,2002,Zondervan Publishing Company,http://images.amazon.com/images/P/0310205719.0...

In [10]:
book_df.rename(columns={"ISBN":"book_id", "Book-Title": "book_title", "Book-Author": "book_author", "Year-Of-Publication": "year_of_publication", "Publisher": "publisher", "Image-URL-M": "image"}, inplace=True)

In [5]:
rating_df

        User-ID        ISBN  Book-Rating
13         7346  0440234743          9.0
15        11224  0440234743          6.0
17        13552  0440234743          8.0
19        23511  0440234743          8.0
21        31315  0440234743         10.0
...         ...         ...          ...
144959   177590  0310205719          8.0
144960   182819  0310205719         10.0
144962   222563  0310205719         10.0
144963   256407  0310205719          9.0
144964   257700  0310205719          9.0

[22480 rows x 3 columns]

In [12]:
rating_df.rename(columns={"User-ID": "user_id", "ISBN": "book_id", "Book-Rating": "book_rating"}, inplace=True)

In [13]:
joblib.dump([user_df, book_df, rating_df], "../data/mf-api.pkl")

['../data/mf-api.pkl']

In [21]:
not 389 in set(user_df["user_id"].values)

True