In [120]:
import joblib

user_df, book_df, rating_df = joblib.load('../data/mf-api.pkl')

In [121]:
rating_df = rating_df.merge(book_df, on="book_id")

In [113]:
rating_df = rating_df[(rating_df["book_rating"]>=8.0) & (rating_df["user_id"]==254)]
rating_df = rating_df.groupby("book_author")["book_rating"].agg({"mean", "count"}).sort_values(by=["mean", "count"], ascending=False)

In [ ]:
rating_df

In [118]:
authors = rating_df.index.to_list()
count_mean = rating_df[["count", "mean"]].values
output = []
for i, author, values in enumerate(zip(authors, count_mean)):
    output[i] = {}
    output[i][""]
    output[i]["count"] = int(values[0])
    output[i]["mean"] = values[1]

In [119]:
output

{'Neil Gaiman': {'count': 1, 'mean': 10.0},
 'J. K. Rowling': {'count': 6, 'mean': 9.0},
 'Amy Tan': {'count': 1, 'mean': 9.0},
 'J.R.R. Tolkien': {'count': 1, 'mean': 9.0},
 'Sue Monk Kidd': {'count': 1, 'mean': 9.0},
 'George Orwell': {'count': 2, 'mean': 8.5},
 'J. R. R. Tolkien': {'count': 1, 'mean': 8.0},
 'PHILIP PULLMAN': {'count': 1, 'mean': 8.0},
 'Stephen King': {'count': 1, 'mean': 8.0}}

In [123]:
rating_df = rating_df[(rating_df["book_rating"]>=8.0) & (rating_df["user_id"]==254)]
rating_df.groupby('publisher')["book_rating"].agg({"mean", "count"}).sort_values(by=["mean", "count"], ascending=False)

                               count  mean
publisher
HarperTorch                        1  10.0
Scholastic                         6   9.0
Penguin Books                      1   9.0
Putnam Publishing Group            1   9.0
Houghton Mifflin Company           2   8.5
Signet Book                        2   8.5
Knopf Books for Young Readers      1   8.0
Signet                             1   8.0