In [1]:
import joblib
import sys; sys.path.append('..')
from util.embedding import CreateEmbedding

In [2]:
user_df, book_df, rating_df = joblib.load('../data/mf-api.pkl')

In [3]:
user_df

,user_id,age,city,state,country,mf_recommend_item
0,254,24.0,minneapolis,minnesota,usa,"[0425141233, 067164257X, 0375706410, 006095802..."
1,388,35.0,nashville,tennessee,usa,"[0449219461, 0553801376, 0380820293, 034545920..."
2,503,40.0,el centro,california,usa,"[0064471063, 0553272535, 0842332278, 042514762..."
3,638,20.0,san diego,california,usa,"[0451191013, 0553582755, 0671741187, 045114293..."
4,709,14.0,roanoke,virginia,usa,"[0440111498, 0804106304, 0679735909, 074320604..."
...,...,...,...,...,...,...
2092,278026,56.0,east orange,new jersey,usa,"[042510107X, 0451191145, 0451163524, 155166530..."
2093,278137,27.0,san antonio,texas,usa,"[0446310786, 0553289411, 1400031354, 006091650..."
2094,278188,34.0,lake george,new york,usa,"[0446364800, 0385512104, 0515121843, 045226446..."
2095,278356,57.0,lakeland,tennessee,usa,"[0670835382, 0385497466, 0375725784, 006440055..."
2096,278843,28.0,pismo beach,california,usa,"[0804117683, 042513525X, 0805036504, 042517630..."

In [5]:
from typing import List
import openai
import os

openai.api_key = os.environ["OPENAI_API_KEY"]

def get_embedding(
  text:str, 
  model:str = "text-embedding-ada-002"
) -> List[float]:
    embedding =  openai.Embedding.create(input=text, model=model)["data"][0]["embedding"]
    return embedding

In [4]:
#embeddings = book_df["book_title"].apply(lambda x: get_embedding(x))

In [6]:
#book_df["title_embedding"] = embeddings

In [6]:
book_df.head()

,book_id,book_title,book_author,year_of_publication,publisher,image,title_embedding
0,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,"[-0.0035347945522516966, -0.03365958482027054,..."
1,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,"[-0.01696661487221718, -0.024439029395580292, ..."
2,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,"[-0.011642393656075, -0.024704918265342712, -0..."
3,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,"[-0.0015527659561485052, -0.02424408495426178,..."
4,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,"[-0.012490134686231613, -0.016244838014245033,..."

In [7]:
import numpy as np

#book_df["title_embedding"] = book_df["title_embedding"].apply(np.array)

In [11]:
#joblib.dump([user_df, book_df, rating_df], "../data/mf-api.pkl")

['../data/mf-api.pkl']

In [8]:
def cosine_similarity(a: np.ndarray, b: np.ndarray) -> float:
    return np.dot(a, b) / (np.linalg.norm(a) * np.linalg.norm(b))

In [71]:
from tqdm import tqdm

def vector_search(
  query_embedding:np.ndarray, 
  embeddings:List[np.ndarray], 
  k:int=30,
  distance_metric: str = "cosine"
) -> List[int]:
    #query_embedding = np.array(get_embedding(query))
  
    distances = []
    for i, item_embedding in tqdm(enumerate(embeddings), total=len(embeddings)):
        if distance_metric == "cosine":
            cosine_distance = cosine_similarity(query_embedding, item_embedding)
            distances.append((i, cosine_distance))
  
    distances = sorted(distances, key=lambda x: x[1], reverse=True)[:k]
    top_k = [k[0] for k in distances if k[1] >= 0.8]
  
    return top_k

In [76]:
query_embedding = np.array(get_embedding(text="baseball"))

In [77]:
query_embedding

array([-0.00865601, -0.01642727,  0.01551611, ...,  0.00470765,
       -0.01501431, -0.00671154])

In [44]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [53]:
book_df.head()

,book_id,book_title,book_author,year_of_publication,publisher,image,title_embedding
0,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,"[-0.0035347945522516966, -0.03365958482027054,..."
1,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume,http://images.amazon.com/images/P/0452264464.0...,"[-0.01696661487221718, -0.024439029395580292, ..."
2,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,"[-0.011642393656075, -0.024704918265342712, -0..."
3,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,"[-0.0015527659561485052, -0.02424408495426178,..."
4,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,"[-0.012490134686231613, -0.016244838014245033,..."

In [51]:
book_df.iloc[568]

book_id                                                       0679721037
book_title                                                     Hiroshima
book_author                                                  John Hersey
year_of_publication                                                 1989
publisher                                              Vintage Books USA
image                  http://images.amazon.com/images/P/0679721037.0...
title_embedding        [-0.017385615035891533, 0.00401332089677453, -...
Name: 568, dtype: object

In [78]:
#i = 788
#query_embedding = book_df["title_embedding"].iloc[i]
#item_embeddings = book_df.iloc[book_df.index != i]["title_embedding"].tolist()
top_k_index = vector_search(
    query_embedding=query_embedding,
    embeddings=book_df["title_embedding"].tolist()
)
book_df.iloc[top_k_index]

100% 1121/1121 [00:00<00:00, 6657.16it/s]

,book_id,book_title,book_author,year_of_publication,publisher,image,title_embedding
43,0385511612,Bleachers,John Grisham,2003,Doubleday,http://images.amazon.com/images/P/0385511612.0...,"[-0.010944600217044353, -0.014994758181273937,..."
16,0316769487,The Catcher in the Rye,J.D. Salinger,1991,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,"[-0.020090889185667038, -0.018103187903761864,..."
290,0425115801,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,"[-0.012875005602836609, 0.00704357773065567, -..."
141,0743211383,Dreamcatcher,Stephen King,2001,Scribner,http://images.amazon.com/images/P/0743211383.0...,"[-0.028148062527179718, -0.015452278777956963,..."
482,074343627X,Dreamcatcher,Stephen King,2001,Pocket,http://images.amazon.com/images/P/074343627X.0...,"[-0.0282867681235075, -0.015508677810430527, 0..."
664,0743467523,Dreamcatcher,Stephen King,2003,Pocket,http://images.amazon.com/images/P/0743467523.0...,"[-0.0282867681235075, -0.015508677810430527, 0..."
332,0345353145,Sphere,MICHAEL CRICHTON,1988,Ballantine Books,http://images.amazon.com/images/P/0345353145.0...,"[0.005084851756691933, -0.0032117548398673534,..."

In [10]:
book_df["title_embedding"][0]

array([-0.00353479, -0.03365958, -0.01304948, ..., -0.01985673,
        0.01144856, -0.02655636])